<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="24.2.4" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="24.2.4" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="24.2.4" targetFramework="net472" />
  <package id="Syncfusion.PdfToImageConverter.WPF" version="24.2.4" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.WPF" version="24.2.4" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="24.2.4" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net472" />
</packages>